

header {
    margin-bottom: 15px;
    background-color: #aaa;
    width: 100vw;
}

header div {
    max-width: 960px;
    margin: auto;
    display: flex;
}

header img {
    margin: 0;
    max-height: 70px;
}

nav div {
    display: inline-flex;
    margin: 40px 50px;
}

main {
    max-width: 960px;
    margin: auto;
}


main div {
     display: flex;
}

div img {
    margin: 15px 15px;
}

h2 {
    font-size: 1.4em
}

div section {
    margin: 15px;
}

section p {
    font-size: 1.3em;
    font-style: italic;
    height: 325px;
    width: 465px;
    overflow: scroll;
    margin-bottom: 10px
}

button {
    background-color: black;
    color: white;
    height: 40px;
    width: 200px;
    border-radius: 10px;
    font-size: 1.1em;
}

button:hover {
    transition-duration: 350ms;
    background-color: gray;
    color: lightgray;
}

footer {
    height: 200px;
    background-color: #aaa;
    margin-top: 15px;
    width: 100vw;
}

